
.sidebar{
    position: fixed;
    top: -1em;
    height: calc(100vh);
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

content{
    margin: 1.6em;
} 
